body{
    margin: 0;
}
.logo{
    font-style: normal;
    font-weight: 700;
    font-size: 23.9854px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.header-container{
    padding: 0 200px;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}
.header-nav-list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 8px 0 0 0;
    overflow: hidden;
}
.header-nav-link{
    text-decoration: none;
    color: #212121;
}
.header-nav-link-active{
    color: #2196F3;
}

.header-nav-list-item-left{
    margin-left: 93px;
}
.header-nav-list-item-mid{
    margin: 0 60px;
}
.header-nav-contact-links{
    display: flex;
}
.header-nav-contact-links-text{
    text-decoration: none;
    color: #757575;
    margin: 8px 0;
}
.header-nav-contact-links-phone{
    padding-left: 50px;
}
.header-text{
    margin: 0;
}
.header-nav-contact-links-email:hover{
    color: #2196F3;
}
.header-nav-contact-links-phone:hover{
    color: #2196F3;
}
.cta-container{
    background-image: url('../images/cta-bg.jpg');
    height: 776px;
    background-color: #2F303A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cta-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.cta-button{
    width: 200px;
    height: 50px;
    left: 452px;
    top: 526px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
}
.content-container{
    display: flex;
    width: 1080px;
    margin: 80px auto;
}
.content-section{
    width: 250px;
    margin: 0 20px;
}
.content-icon{
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}
.content-icon-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 120px;
}
.content-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12.9152px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.content-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9152px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #757575;
}
.wwd-container{
    margin-bottom: 80px;
}
.wwd-image-container{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.wwd-title{
    text-align: center;
}
.team-container{
    background-color: #F5F4FA;
    padding: 80px 0;
}
.team-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 33.2105px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;   
}
.team-cards-container{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.team-card-container{
    background-color: #FFFFFF;
    border-radius: 0px 0px 3.69006px 3.69006px;
}
.team-card-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.7602px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}
.team-card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.7602px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}
.team-icon-background:hover{
    background-color: #2196F3;
    width: 44px;
    height: 44px;
}
.team-icon:hover{
    color: white;
}
.footer-container{
    background-color: #2F303A;
    padding: 55px 200px;
    display: flex;
    gap: 70px;
}
.footer-address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9152px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12.9152px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.portfolio-button{
    border: none;
    background: #F5F4FA;
    border-radius: 4px; 
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 6px 32px;
    width: 100%;
}
.portfolio-button-active{
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: white;
}
.portfolio-button-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin:  88px 0 44px 0;
}
.portfolio-content-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.portfolio-card-container{
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
}
.portfolio-card-text-container{
    margin: 20px 24px;
}
.portfolio-card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-card-sub-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}